
<div id="my-fixture" class="testing">
    <div class="l-container">

        <div class="hidden-info">
            <p class="separator">
            </p>

            <div class="text-hidden-info">
                <p class="title second">
                    House rules
                </p>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra purus a malesuada euismod.
                    Cras at ante ac odio consectetur rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae.
                </p>
            </div>
        </div>

        <div class="button">Show more</div>
    </div>
</div>

