
@mixin transition($property, $duration, $delay) {
  transition:         $property $duration $delay;
  -webkit-transition: $property $duration $delay;
  -moz-transition:    $property $duration $delay;
  -o-transition:      $property $duration $delay;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin gradient($color1, $color2) {
  background: -webkit-linear-gradient($color1, $color2);
  background: -o-linear-gradient($color1, $color2);
  background: -moz-linear-gradient($color1, $color2);
  background: linear-gradient($color1, $color2);
}

@mixin borderRadius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius:    $value;
  border-radius:         $value;
}

@mixin shadowBox($top, $left, $blur, $color) {
  -moz-box-shadow:    $top $left $blur $color;
  -webkit-box-shadow: $top $left $blur $color;
  box-shadow:         $top $left $blur $color;
}
