@media all and (min-width: 500px){
  body {
    background: #f2f2f2;
  }
  .wrapper {
    margin: 0 auto;
    width: 400px;
  }
  header {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .l-container {
    width: 400px;
    border-radius: 4px;
    padding: 10px 20px;
    @include shadowBox(0px, 1px, 3px, rgba(#000, .1));
    border: 1px solid #d3d3d3;
    .paragraph {
      font-size: 14px;
      line-height: 1.5em;
      margin: 20px 0;
    }
    .separator {
      padding: 10px 0;
    }
  }
}




