body {
  background: #fff;
}
p {
  margin: 15px 0;
}
.wrapper {
  width: 100%;
}

header {
  font-size: 26px;
  line-height: 1.5em;
  text-align: center;
  color: midnightblue;
  font-weight: bold;
  p {
    margin-bottom: 0px;
  }
  small {
    font-size: 12px;
    font-weight: normal;
  }
}

.l-container {
  width: 100%;
  background: #fff;
  border: 0px;
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .title {
    font-size: 18px;
    font-weight: bold;
    color: #303030;
    margin: 10px 0;
    display: block;
    img, span {
      display: block;
      float: left;
    }
    span {
      padding: 5px 0 0 5px;
    }
    &.second {
      padding-bottom: 5px;
    }
  }
  .paragraph {
    font-size: 13px;
    color: #70747c;
    line-height: 1.4em;
    text-align: left;
    margin: 10px 0;
  }
  .line-separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    clear: both;
    margin: 10px 0;
  }
  .separator {
    padding: 0px;
    margin: 0 auto;
    width: 25px;
  }
  .button {
    font-size: 12px;
    color: #fff;
    padding: 8px 10px;
    width: 100px;
    text-align: center;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    z-index: 3;
    @include gradient(#01c2fb, #03a7ff);
    @include borderRadius(4px);
  }
  .hidden-info {
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    @include transition(all, 1s, 0.5s);
    .text-hidden-info {
      @include transform(translateY(-100%));
      opacity: 0;
      @include transition(all, 1s, 0s);
    }
    &.active {
      max-height: 200px;
      opacity: 1;
      visibility: visible;
      @include transition(all, 1s, 0s);

      .text-hidden-info {
        @include transform(translateY(0));
        opacity: 1;
        @include transition(all, 1s, 0.5s);
      }
    }
  }
}
.clearer {
  clear: both;
}