body {
  background: #fff; }

p {
  margin: 15px 0; }

.wrapper {
  width: 100%; }

header {
  font-size: 26px;
  line-height: 1.5em;
  text-align: center;
  color: midnightblue;
  font-weight: bold; }
  header p {
    margin-bottom: 0px; }
  header small {
    font-size: 12px;
    font-weight: normal; }

.l-container {
  width: 100%;
  background: #fff;
  border: 0px;
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .l-container .title {
    font-size: 18px;
    font-weight: bold;
    color: #303030;
    margin: 10px 0;
    display: block; }
    .l-container .title img, .l-container .title span {
      display: block;
      float: left; }
    .l-container .title span {
      padding: 5px 0 0 5px; }
    .l-container .title.second {
      padding-bottom: 5px; }
  .l-container .paragraph {
    font-size: 13px;
    color: #70747c;
    line-height: 1.4em;
    text-align: left;
    margin: 10px 0; }
  .l-container .line-separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    clear: both;
    margin: 10px 0; }
  .l-container .separator {
    padding: 0px;
    margin: 0 auto;
    width: 25px; }
  .l-container .button {
    font-size: 12px;
    color: #fff;
    padding: 8px 10px;
    width: 100px;
    text-align: center;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    z-index: 3;
    background: -webkit-linear-gradient(#01c2fb, #03a7ff);
    background: -o-linear-gradient(#01c2fb, #03a7ff);
    background: -moz-linear-gradient(#01c2fb, #03a7ff);
    background: linear-gradient(#01c2fb, #03a7ff);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .l-container .hidden-info {
    max-height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s 0.5s;
    -webkit-transition: all 1s 0.5s;
    -moz-transition: all 1s 0.5s;
    -o-transition: all 1s 0.5s; }
    .l-container .hidden-info .text-hidden-info {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      transition: all 1s 0s;
      -webkit-transition: all 1s 0s;
      -moz-transition: all 1s 0s;
      -o-transition: all 1s 0s; }
    .l-container .hidden-info.active {
      max-height: 200px;
      opacity: 1;
      visibility: visible;
      transition: all 1s 0s;
      -webkit-transition: all 1s 0s;
      -moz-transition: all 1s 0s;
      -o-transition: all 1s 0s; }
      .l-container .hidden-info.active .text-hidden-info {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        transition: all 1s 0.5s;
        -webkit-transition: all 1s 0.5s;
        -moz-transition: all 1s 0.5s;
        -o-transition: all 1s 0.5s; }

.clearer {
  clear: both; }

@media all and (min-width: 500px) {
  body {
    background: #f2f2f2; }

  .wrapper {
    margin: 0 auto;
    width: 400px; }

  header {
    font-size: 26px;
    margin-bottom: 20px; }

  .l-container {
    width: 400px;
    border-radius: 4px;
    padding: 10px 20px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3; }
    .l-container .paragraph {
      font-size: 14px;
      line-height: 1.5em;
      margin: 20px 0; }
    .l-container .separator {
      padding: 10px 0; } }

/*# sourceMappingURL=main.css.map */
